.block-links {
  list-style: none;
  margin: 2rem 0;
  padding-left: 2rem;

  li {
    margin-bottom: 0.75rem;

    a {
      display: flex;
      align-items: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .icon {
    margin-right: 0.5rem;
  }
}
