.infobox {
  margin-bottom: 3rem;
  max-width: 400px;

  &:not(.infoimage) {
    padding: $spacer*1.5;
  }

  &.infoemployee {
    border: 1px solid $border-color;

    img {
      filter: grayscale(100%);
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 240px;
    right: -240px;
  }

  @include media-breakpoint-up(xl) {
    width: 280px;
    right: calc(-280px - 1.5rem);
  }

  a {
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
