.breadcrumb-wrapper {
  overflow-x: auto;
  margin-bottom: 2rem;
  padding-top: 5.5rem;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 4rem;
  }
}

.breadcrumb {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    padding: 0.75rem 1.5rem;
    min-width: 100%;
  }

  .breadcrumb-item {
    display: inline-block;

    a {
      color: $white;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
