.table {
  thead th {
    border-top: none !important;
    border-bottom: none !important;
    padding: 0.75rem 1rem;
  }
}

table {
  a {
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.wp-block-table table {
  width: 100%;

  thead {
    position: sticky;
    top: 88px;
  }

  @extend .table;
  @extend .table-striped;
  @extend .table-responsive;
}
