.table {
  thead th {
    border-top: none !important;
    border-bottom: none !important;
    padding: 0.75rem 1rem;
  }
}

.wp-block-table table {
  width: 100%;

  thead {
    position: sticky;
    top: 88px;
  }

  @extend .table;
  @extend .table-striped;
  @extend .table-responsive;
}
