**

!wordpress/wp-content/themes/kbharkiv/**/*
!wordpress/wp-content/themes/kbharkiv/dist/**
!wordpress/wp-content/plugins/**
!wordpress/wp-content/languages/**
wordpress/wp-content/themes/kbharkiv/node_modules
