
# We want to include:
# * wordpress/wp-content/themes/kbharkiv
# * wordpress/wp-content/languages

/wordpress/*
!wordpress/wp-content/themes/kbharkiv
!wordpress/wp-content/languages
trigger-deploy.sh

.DS_Store