.module-shortcuts {
  .shortcut-row {
    margin: 0 0 1rem;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  a {
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 4rem;
    }
  }

  .text {
    max-width: 360px;
  }

  .shortcut-icon {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-right: 1.5rem;
  }

  figure {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center center;
    padding-top: 100%;
    margin: 0;

    @include media-breakpoint-up(sm) {
      padding-top: 72%;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 0;
      height: 100%;
    }
  }

  .owl {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -1.5rem;
    left: -1.5rem;
    transform: translateY(0);

    @include media-breakpoint-up(md) {
      width: 12rem;
      height: 12rem;
    }

    @include media-breakpoint-up(lg) {
      width: 14rem;
      height: 14rem;
    }

    svg {
      height: 4rem;

      @include media-breakpoint-up(lg) {
        height: 5rem;
      }
    }
  }
}
