.module-news {
  .sticky article {
    position: sticky;
    top: 8rem;
    padding: 0;
    border: none;

    header,
    .entry-summary {
      max-width: 33rem;
    }
  }

  .news a:first-child article {
    padding-top: 0;
  }
}
