.module-news {
  .sticky article {
    padding: 0 0 3rem;

    @include media-breakpoint-up(md) {
      position: sticky;
      top: 8rem;
      padding: 0;
      border: none;
    }

    header,
    .entry-summary {
      max-width: 33rem;
    }
  }

  //first
  .news a:first-child article {
    @include media-breakpoint-up(md) {
      padding-top: 0;
    }
  }

  // first two
  .news a:nth-child(-n+2) article {
    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }
}
