.module-kildetaster {
  .status-stats {
    margin-bottom: 3rem;

    .col {
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid $gray-200;
      }

      .h1 {
        margin-right: 0.75rem;
      }
    }
  }

  .task-progress-plot {
    .status-progress {
      > .h4 {
        @include media-breakpoint-up(lg) {
          flex: 0 0 6rem;
          margin-bottom: 1rem !important;
        }
      }
    }

    .progress {
      height: 1.5rem;
      margin-bottom: 1rem;
    }

    .progress-bar {
      border-right: 2px solid white;
      height: 1.5rem;
    }
  }

  .legend {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
  }
}
