.module-gallery {
  .module-inner {
    padding: 0 0 3rem;
    background-color: $blue;

    @include media-breakpoint-up(lg) {
      padding: 4rem 0;
    }
  }

  .carousel-indicators li {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    opacity: 1;
    border: none;
    margin-right: 0.25rem;
    margin-left: 0.25rem;

    &.active {
      background-color: transparent;
      box-shadow: 0 0 0 2px $white;
    }
  }

  .carousel-item {
    cursor: zoom-in;

    img {
      max-height: 45rem;
      object-fit: contain;
    }

    &.object-fit {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      img {
        opacity: 0;
      }
    }
  }

  .gallery-description-col {
    @include media-breakpoint-down(lg) {
      padding: 1.5rem;
    }
  }

  .gallery-description-item {
    display: none;
    color: white;

    &.active {
      display: block;
    }

    h6 {
      color: mix(white, $blue, 48%);
    }
  }
}

.gallery-modal {
  .modal-dialog {
    max-width: 100%;
    margin: 3rem 0;
  }

  .modal-content {
    // overwrite in variables:
    border-radius: 0;
    border: 0;
    background-color: transparent;
  }
}
