article.medarbejdere {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .wp-post-image {
    filter: grayscale(100%);
    margin-bottom: 1rem;
  }

  dl {
    margin-bottom: 0;
  }
}

.category-filter {
  a {
    display: inline-block;
    padding-bottom: 0.25rem;
    margin: 0 1.5rem 1rem 0;
  }

  .active {
    border-bottom: 2px solid $blue;
  }
}
