#bbpress-forums {
  overflow: visible;
  font-size: 0.875rem;

  .bbp-user-page & {
    overflow: hidden;
  }

  strong {
    font-weight: 500;
  }

  .bbp-template-notice {
    @extend .alert;
    @extend .alert-warning;

    ul,
    ol {
      padding: 0;
      margin-bottom: 0;
      list-style: none;
    }

    li,
    p {
      font-size: 0.875rem;
      margin: 0 !important;
      padding: 0 !important;

      + li {
        margin-top: 0.5rem !important;
      }
    }

    &.info {
      @extend .alert-info;
    }
  }

  ul.bbp-forums,
  ul.bbp-topics,
  ul.bbp-replies {
    border: none;

    li.bbp-header,
    li.bbp-footer {
      background: transparent !important;
      //border-top: 1px solid #eee;
      //font-weight: bold;
      padding: 0.5rem 1rem;
      text-align: left;
    }

    li.bbp-header {
      border: none;
      background: #eaeaea;
    }

    li.bbp-body {
      ul li {
        padding: 0.5rem;
      }
    }

    li.bbp-forum-freshness,
    li.bbp-forum-reply-count,
    li.bbp-forum-topic-count {
      font-size: 0.75rem;
    }
  }

  div.even,
  ul.even {
    background-color: #fff;
  }

  div.odd,
  ul.odd {
    background-color: rgba($cyan-light, 0.16);
  }

  .bbp-reply-header {
    padding: 0.5rem 1rem;
  }

  .bbp-topic-content,
  .bbp-reply-content,
  .bbp-forum-title,
  .bbp-topic-permalink {
    font-size: 0.875rem;
  }

  p.bbp-topic-meta {
    font-size: 0.75rem;
  }

  .bbp-forum-title,
  .bbp-topic-permalink {
    font-weight: 500;
  }

  span.bbp-admin-links a,
  .bbp-reply-permalink,
  div.bbp-the-content-wrapper input[type=button] {
    color: $blue;
    opacity: 0.48;
    font-weight: 500;
    font-size: 0.75rem;

    &:focus {
      outline: 2px solid rgba($blue, 0.5);
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  button,
  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }

  #bbp-search-form {
    margin-bottom: 1rem;

    #bbp_search {
      @extend .form-control-sm;
    }

    #bbp_search_submit {
      margin-top: -0.125rem;

      @extend .btn-sm;
    }
  }

  input:not([type="button"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
  textarea,
  select {
    @extend .form-control;
  }

  #bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
    font-size: 0.875rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  // input[type="checkbox"] {
  //   @extend .form-check-input;
  // }
}
