#bbpress-forums {
  overflow: visible;
  font-size: 0.875rem;

  /* Style semantic post dates */
  h5.bbp-reply-post-date {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }

  /* Responsive tables */
  td {
    display: block;
  }

  .bbp-reply-content {
    margin-left: 0 !important;
  }

  .bbp-reply-post-date,
  .bbp-topic-post-date {
    float: none !important;
  }

  @media screen and (min-width: 481px) {
    .d-custom-table-row {
      display: table-row !important;
    }

    .d-custom-none {
      display: none !important;
    }

    .bbp-forums {
      .bbp-forum-voice-count,
      .bbp-forum-reply-count,
      .bbp-forum-topic-count {
        font-size: 0.75rem;
        text-align: center;
        width: 10%;
      }

      .bbp-forum-freshness {
        font-size: 0.75rem;
        text-align: center;
        width: 22%;
      }

      .bbp-forum-author {
        text-align: left;
      }
    }

    .bbp-topics {
      .bbp-topic-voice-count,
      .bbp-topic-reply-count,
      .bbp-topic-topic-count {
        font-size: 0.75rem;
        text-align: center;
        width: 10%;
      }

      .bbp-topic-freshness {
        font-size: 0.75rem;
        text-align: center;
        width: 22%;
      }

      .bbp-topic-author {
        text-align: left;
      }
    }

    td {
      display: table-cell;
    }
  }

  .bbp-forums,
  .bbp-topics,
  .bbp-replies {
    border: none;

    .bbp-header {
      padding: 0.5rem 1rem;
      text-align: left;
      border: none;
      background: #eaeaea;
    }

    .bbp-body {
      td,
      th {
        padding: 0.7rem;
      }
    }

    .bbp-footer {
      display: none;
    }
  }

  .bbp-user-page &,
  .bbp-user-edit & {
    overflow: hidden;
  }

  .bbp-user-page & .bbp-topics,
  .bbp-user-page & .bbp-replies {
    width: 100%;
  }

  strong {
    font-weight: 500;
  }

  .bbp-template-notice {
    @extend .alert;
    @extend .alert-warning;

    ul,
    ol {
      padding: 0;
      margin-bottom: 0;
      list-style: none;
    }

    li,
    p {
      font-size: 0.875rem;
      margin: 0 !important;
      padding: 0 !important;

      + li {
        margin-top: 0.5rem !important;
      }
    }

    &.info {
      @extend .alert-info;
    }
  }

  div.even,
  ul.even,
  tr.even {
    background-color: #fff;
  }

  div.odd,
  ul.odd,
  tr.odd {
    background-color: rgba($cyan-light, 0.16);
  }

  .bbp-reply-header {
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
  }

  .bbp-forum-title,
  .bbp-topic-permalink {
    font-size: 1rem;
    font-weight: 700;
  }

  .bbp-topic-content,
  .bbp-forum-info .bbp-forum-content {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  p.bbp-topic-meta {
    font-size: 0.75rem;
  }

  span.bbp-admin-links a,
  .bbp-reply-permalink,
  div.bbp-the-content-wrapper input[type=button] {
    color: $blue;
    font-weight: 500;
    font-size: 0.75rem;

    &:focus {
      outline: 2px solid rgba($blue, 0.5);
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  button,
  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }

  #bbp-search-form {
    margin-bottom: 1rem;

    #bbp_search {
      @extend .form-control-sm;
    }

    #bbp_search_submit {
      margin-top: -0.125rem;

      @extend .btn-sm;
    }
  }

  input:not([type="button"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
  textarea,
  select {
    @extend .form-control;
  }

  fieldset.bbp-form {
    @extend .form-group;

    padding: 0;
    border: none;

    input[type=text],
    select {
      min-height: none;
      height: auto;
      padding: 0.375rem 0.75rem;
    }
  }

  #bbp-your-profile fieldset input,
  #bbp-your-profile fieldset textarea,
  #bbp-your-profile fieldset select {
    width: 60%;

    @extend .form-control;
  }

  div.bbp-the-content-wrapper textarea.bbp-the-content {
    font-size: 0.875rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .bbp-pagination {
    margin-bottom: 1.5rem;
  }

  // input[type="checkbox"] {
  //   @extend .form-check-input;
  // }
}
