a article.post,
a article.page,
a article.content-search {
  padding: 2rem 0 3rem;
  border-bottom: 1px solid rgba($blue, 0.16);

  .wp-post-image {
    margin-bottom: 1rem;
  }
}

.entry-content {
  line-height: 1.5;

  @include media-breakpoint-up(xl) {
    line-height: 1.75;
  }

  .wp-block-image {
    margin: 3rem 0;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 45rem;
  }

  p + h1,
  p + h2,
  p + h3,
  ul + h1,
  ul + h2,
  ul + h3 {
    margin-top: 2.5rem;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
