footer {
  background-color: #f0f1f5;
  padding: 4rem 0 6rem;
  margin-top: 5rem;

  section {
    @extend .col-md-6;
    @extend .col-lg-3;

    @include media-breakpoint-up(md) {
      position: relative;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  .menu,
  .sub-menu {
    padding: 0;
    list-style: none;
  }

  .sub-menu {
    margin-bottom: 3rem;
    font-weight: 500;

    li {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }

  .menu {
    > li > a {
      display: block;
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 700;
      line-height: 1.2;
    }
  }

  .kk-logo {
    display: block;
    width: 6rem;
    margin-top: 1.5rem;
    margin-left: auto;

    @include media-breakpoint-up(lg) {
      margin-top: 3rem;
      transform: translateX(50%);
    }
  }
}
