footer {
  background-color: #f0f1f5;
  padding: 4rem 0 6rem;

  section {
    @extend .col-md-6;
    @extend .col-lg-3;

    @include media-breakpoint-up(md) {
      position: relative;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  .kk-logo {
    width: 6rem;

    @include media-breakpoint-up(md) {
      position: absolute;
      right: -3rem;
    }
  }
}
