header.top-menu {
  position: fixed;
  width: 100%;
  padding: 1.25rem 0;
  z-index: 1000;
  height: 88px;
  -webkit-overflow-scrolling: touch;
  transition: height 400ms ease;

  .brand {
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
  }

  .nav-toggle {
    background-color: $blue;
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 50%;

    .hamburger {
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 1);
      height: 2px;
      width: 1.5rem;
      transition: all 600ms ease;

      &::before,
      &::after {
        content: "";
        background-color: rgba(255, 255, 255, 1);
        display: block;
        height: 2px;
        width: 1.5rem;
        transition: all 600ms ease;
      }

      &::before {
        transform: translate3d(0, -8px, 0);
      }

      &::after {
        transform: translate3d(0, 6px, 0);
      }
    }

    &.desktop-menu-toggle {
      position: fixed;
      top: 8rem;
      right: 4rem;
      display: none;
      opacity: 0;

      @include media-breakpoint-up(xl) {
        right: 6rem;
      }

      @include media-breakpoint-up(xxl) {
        right: calc(50% - 840px);
      }
    }
  }

  nav {
    display: none;
    width: 100vh;

    @include media-breakpoint-up(lg) {
      display: block;
      width: auto;
    }

    .sub-menu {
      opacity: 0;
      pointer-events: none;
    }

    ul {
      position: absolute;
      width: 100%;
      list-style: none;
      padding: 0;
      left: 0;
      top: 0;

      @include media-breakpoint-down(md) {
        transition: all 600ms ease;

        @for $i from 2 through 4 {
          &:nth-child(#{$i}n) {
            transform: translate3d(( $i - 1 ) * 100%, 0, 0);
          }
        }

        @for $i from 1 through 4 {
          &.menu[data-current-level="#{$i}"] {
            transform: translate3d($i * -100%, 0, 0);
          }
        }
      }

      li {
        padding: 0 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;

        @include media-breakpoint-up(md) {
          padding: 0 3rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 1rem;
          font-weight: 500;
          padding: 0;
        }
      }

      &.menu {
        top: 8rem;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          position: relative;
          top: 0;
          margin-left: 6rem;
        }

        > li {
          @include media-breakpoint-up(lg) {
            display: inline-block;
            margin: 0 0 0 2.5rem;
          }

          .sub-menu[data-level="1"] {
            @include media-breakpoint-up(lg) {
              position: fixed;
              left: 4rem;
              top: 8rem;
            }

            @include media-breakpoint-up(xl) {
              left: 6rem;
            }

            @include media-breakpoint-up(xxl) {
              left: calc(50% - 840px);
            }
          }

          .sub-menu[data-level="2"] {
            @include media-breakpoint-up(lg) {
              position: relative;

              li {
                font-size: 14px;
                font-weight: 400;
              }
            }
          }

          .sub-menu[data-level="3"],
          .sub-menu[data-level="4"],
          .sub-menu[data-level="5"],
          .sub-menu[data-level="6"] {
            @include media-breakpoint-up(lg) {
              display: none;
            }
          }
        }
      }
    }
  }

  &.active {
    height: 100vh;
    overflow-y: scroll;

    .parent.active .desktop-menu-toggle {
      @include media-breakpoint-up(lg) {
        display: block;
        opacity: 1;
      }
    }

    .hamburger {
      background-color: rgba(0, 0, 0, 0);

      &::before {
        transform: translate3d(0, 0, 0) rotate(-45deg);
      }

      &::after {
        transform: translate3d(0, -2px, 0) rotate(45deg);
      }
    }

    nav {
      display: block;
    }

    .parent.active > .sub-menu {
      opacity: 1;
      pointer-events: auto;
    }

    .parent.active .sub-menu {
      @include media-breakpoint-up(lg) {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
