.single-arrangementer {
  .lead {
    margin-top: 2.5rem;
  }

  .event-info {
    position: sticky;
    top: 9.5rem;
    padding: 4rem 1.5rem 5rem;
    color: $white;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 1.5rem !important;
    }

    .date {
      font-size: 5rem;
      letter-spacing: -2px;
      line-height: 6rem;

      @include media-breakpoint-up(lg) {
        font-size: 5rem;
      }
    }

    .month {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }

    .h6,
    .btn {
      margin-top: 1.5rem;
    }
  }
}
