.template-searchsdk {
  .filters button {
    margin-right: 0.5rem;
  }

  .table {
    font-size: 14px;
  }

  th,
  td {
    padding: 1.5rem 1rem;
  }

  td {
    display: block;
  }

  @media screen and (min-width: 768px) {
    td {
      display: table-cell;
    }
  }

  thead th {
    position: sticky;
    top: 0;
    border-top: 0;
    background-color: white;
  }

  .pagination {
    margin-top: 0;
    margin-bottom: 0;
  }

  .float-lg-right .pagination {
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .filter-link {
    margin: 1rem 0.5rem 0 0;
  }

  .facet__offcanvas {
    position: fixed;
    background-color: white;
    width: 375px;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 100%;
    transform: translateX(-100%);
    transition: transform 400ms ease, box-shadow 400ms ease;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1200;

    &.active {
      transform: translateX(0);
      box-shadow: 0 0 0 5000px rgba($blue, 0.8);
    }

    .h3 {
      padding: 2.5rem 1.25rem 1rem 1.25rem;
    }

    .list-group-item {
      font-weight: 500;
    }

    .list-group .list-group .list-group-item:not(.active) {
      background-color: rgba($cyan-light, 0.16);
    }
  }
}
