/* stylelint-disable no-descending-specificity, declaration-no-important */

h1,
.h1 {
  font-weight: 800;

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h6,
.h6 {
  text-transform: uppercase;
  color: mix(white, $blue, 43%);
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.5px;

  a {
    color: mix(white, $blue, 43%);
  }
}

p {
  margin-bottom: 1.5rem;

  a {
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

*:not(.brand div) {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

dt,
nav {
  font-weight: 500;
}

.lead {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

figcaption,
.wp-block-image figcaption {
  @extend .figure-caption;

  margin-top: 0.75rem;
}
