h1,
.h1 {
  font-weight: 800;
  hyphens: auto;

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h6,
.h6 {
  text-transform: uppercase;
  opacity: 0.48;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
}

p {
  margin-bottom: 1.5rem;
}

dt,
nav {
  font-weight: 500;
}

.lead {
  font-size: 1rem;
}

figcaption,
.wp-block-image figcaption {
  @extend .figure-caption;

  margin-top: 0.75rem;
}
