/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           24px !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
