/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Color system

$white:    #fff !default;
$gray-100: #ebecef !default;
$gray-200: #d6d8dd !default;
$gray-300: #c2c5cd !default;
$gray-400: #999eab !default;
$gray-500: #7f8596 !default;
$gray-600: #666d82 !default;
$gray-700: #4c546c !default;
$gray-800: #333d58 !default;
$gray-900: #192442 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #000c2e !default;
$indigo:  #6610f2 !default;
$purple:  #685966 !default;
$pink:    #e83e8c !default;
$red:     #8a3314 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #3f5b58 !default;
$teal:    #20c997 !default;
$cyan:    #04436e !default;

$cyan-light:    #c9e4f2 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "white":      $white
  ),
  $theme-colors
);

$body-color:                $blue !default;

// Links
//
// Style anchor elements.

$link-color:                              theme-color("primary") !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           24px !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:      "kbh", Helvetica, Arial, sans-serif !default;
$font-family-serif:           "kbh", Helvetica, Arial, sans-serif !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$small-font-size:             87.5% !default;

$font-weight-lighter:         400 !default;
$font-weight-light:           400 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          800 !default;

$font-weight-base:            $font-weight-normal !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.25 !default;
$h4-font-size:                $font-size-base * 1 !default;
$h5-font-size:                $font-size-base * 0.875 !default;
$h6-font-size:                $font-size-base * 0.75 !default;

$headings-margin-bottom:      1rem !default;

$headings-font-weight:        700 !default;

$lead-font-weight:            400 !default;

// $display1-weight:             800 !default;
// $display2-weight:             800 !default;
// $display3-weight:             800 !default;
// $display4-weight:             800 !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1872px,
) !default;

$figure-caption-font-size:          $small-font-size !default;
$figure-caption-color:              $gray-600 !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-color:                $gray-200 !default;
$border-width:                2px !default;

$border-radius:               0.25rem !default;
$border-radius-lg:            0.25rem !default;
$border-radius-sm:            0.125rem !default;
// Breadcrumbs
//
// $breadcrumb-padding-y:              0.75rem !default;
// $breadcrumb-padding-x:              1rem !default;
// $breadcrumb-item-padding:           0.5rem !default;
//
// $breadcrumb-margin-bottom:          1rem !default;
//

$breadcrumb-bg:                     $blue !default;
$breadcrumb-divider-color:          rgba(255, 255, 255, 0.75) !default;
$breadcrumb-active-color:           rgba(255, 255, 255, 0.75) !default;
// $breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius:          0 !default;

// Pagination

// $pagination-padding-y:              0.5rem !default;
// $pagination-padding-x:              0.75rem !default;
// $pagination-padding-y-sm:           0.25rem !default;
// $pagination-padding-x-sm:           0.5rem !default;
// $pagination-padding-y-lg:           0.75rem !default;
// $pagination-padding-x-lg:           1.5rem !default;
// $pagination-line-height:            1.25 !default;
//
//$pagination-color:                  $link-color !default;
//$pagination-bg:                     $white !default;
$pagination-border-width:           $border-width !default;
$pagination-border-color:           $white !default;
//
// $pagination-hover-color:            $link-hover-color !default;
// $pagination-hover-bg:               $gray-200 !default;
// $pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color:           $link-color !default;
$pagination-active-bg:              $white !default;
$pagination-active-border-color:    $link-color !default;
//
// $pagination-disabled-color:         $gray-600 !default;
// $pagination-disabled-bg:            $white !default;
// $pagination-disabled-border-color:  $gray-300 !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            1rem !default;
// $table-cell-padding-sm:       .3rem !default;
//
// $table-color:                 $body-color !default;
// $table-bg:                    null !default;
$table-accent-bg:               rgba($cyan-light, 0.16) !default;
// $table-hover-color:           $table-color !default;
$table-hover-bg:                rgba($cyan-light, 0.24) !default;
// $table-active-bg:             $table-hover-bg !default;
//
$table-border-width:            1px !default;
// $table-border-color:          $border-color !default;
//
// $table-head-bg:               $gray-200 !default;
// $table-head-color:            $gray-700 !default;
//
// $table-dark-color:            $white !default;
// $table-dark-bg:                 $cyan-light !default;
// $table-dark-accent-bg:        rgba($white, .05) !default;
// $table-dark-hover-color:      $table-dark-color !default;
// $table-dark-hover-bg:         rgba($white, .075) !default;
// $table-dark-border-color:     lighten($table-dark-bg, 7.5%) !default;
// $table-dark-color:            $white !default;
//
// $table-striped-order:         odd !default;
//
// $table-caption-color:         $text-muted !default;
//
// $table-bg-level:              -9 !default;
// $table-border-level:          -6 !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// $btn-padding-y:               $input-btn-padding-y !default;
// $btn-padding-x:               $input-btn-padding-x !default;
// $btn-font-family:             $input-btn-font-family !default;
// $btn-font-size:               $input-btn-font-size !default;
// $btn-line-height:             $input-btn-line-height !default;
//
// $btn-padding-y-sm:            $input-btn-padding-y-sm !default;
// $btn-padding-x-sm:            $input-btn-padding-x-sm !default;
// $btn-font-size-sm:            $input-btn-font-size-sm !default;
// $btn-line-height-sm:          $input-btn-line-height-sm !default;
//
// $btn-padding-y-lg:            $input-btn-padding-y-lg !default;
// $btn-padding-x-lg:            $input-btn-padding-x-lg !default;
// $btn-font-size-lg:            $input-btn-font-size-lg !default;
// $btn-line-height-lg:          $input-btn-line-height-lg !default;
//
// $btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             500 !default;
// $btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
// $btn-focus-width:             $input-btn-focus-width !default;
// $btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
// $btn-disabled-opacity:        .65 !default;
// $btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;
//
// $btn-link-disabled-color:     $gray-600 !default;
//
// $btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
// $btn-border-radius:           $border-radius !default;
// $btn-border-radius-lg:        $border-radius-lg !default;
// $btn-border-radius-sm:        $border-radius-sm !default;
//
// $btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// List group

// $list-group-color:                  null !default;
// $list-group-bg:                     $white !default;
// $list-group-border-color:           rgba($black, .125) !default;
$list-group-border-width:           1px !default;
// $list-group-border-radius:          $border-radius !default;
//
// $list-group-item-padding-y:         .75rem !default;
// $list-group-item-padding-x:         1.25rem !default;
//
// $list-group-hover-bg:               rgba($cyan-light, 0.24) !default;
// $list-group-active-color:           $component-active-color !default;
// $list-group-active-bg:              $component-active-bg !default;
// $list-group-active-border-color:    $list-group-active-bg !default;
//
// $list-group-disabled-color:         $gray-600 !default;
// $list-group-disabled-bg:            $list-group-bg !default;
//
$list-group-action-color:           $blue !default;
$list-group-action-hover-color:     $blue !default;
//
// $list-group-action-active-color:    $body-color !default;
// $list-group-action-active-bg:       $gray-200 !default;

// Cards

$card-columns-count:                1 !default;
$card-columns-gap:                  3rem !default;
$card-columns-margin:               1.5rem !default;
